@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));



/* استدعاء خط Cairo من Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Cairo:wght@400;700&display=swap");

/* تعريف الخطوط بالـ theme */
@theme {
  --font-sans: "Cairo", sans-serif;
  --font-heading: "Georgia", serif;
}

.btn {
  background-color: rgb(255, 68, 0);
  color: var(--color-white);
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.btn:hover {
  filter: brightness(0.9);
}
h1,h2 {
  font-family: Almarai;
}
body {
  height: auto;
  
}
